main {
    border: 15px solid purple;
    width: 100%;
    height: 100%;
}

.mainattributes {
    border: 15px solid green;
    width: 30%;
    height: 75%;
    display: flex;
    flex-flow: column wrap;
}

.characterdetails {position: relative;
    border: 15px solid red;
    height: 15%;
    display: flex;
    flex-flow: row wrap;
}

.characterdetails h1 {
    margin: auto;
}

.raceb {position: relative;
right: 75%;
margin-top: auto;
margin-bottom: auto;}

.attribute {}